.page-bg{
  position: relative;
  isolation: isolate;
}

/* ФОТО */
.page-bg::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/hero.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: .45; /* ключевой момент */
}

/* ГРАДИЕНТ */
.page-bg::after{
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(
      180deg,
      rgba(7,20,39,.92) 0%,
      rgba(7,20,39,.88) 25%,
      rgba(7,20,39,.82) 45%,
      rgba(7,20,39,.95) 70%,
      rgba(7,20,39,1) 100%
    );
  z-index: -1;
}
